@model nptk.Models.ApplicationUser

@{
    ViewBag.Title = "A túratárs adatai";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailConfirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailConfirmed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumberConfirmed)
        </dd>

        <dt>
            Eddig megtett:
        </dt>

        <dd>
            @ViewBag.Tours túrán járt (@ViewBag.Distances km távolság és @ViewBag.Climbs m szintemelkedés).
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SignUps)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Túrák</th>
                </tr>
                @foreach (var item in Model.SignUps)
                {
                    <tr>
                        <td>
                            @{
                                var tourAndDate = item.Tour.Title + " – " + item.Tour.Date.ToString("yyyy. MM. dd.");
                                @Html.DisplayFor(m => tourAndDate)
                            }
                        </td>
                    </tr>
                }
            </table>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Szerkesztés", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Vissza a túratársakhoz", "Index")
</p>
