@model IEnumerable<nptk.Models.ApplicationUser>

@{
    ViewBag.Title = "Túratársak";
}

<h2>@ViewBag.Title</h2>

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Új túratárs felvétele", "Create")
    </p>
}
<h4>Akik velünk túráznak</h4>

<p><input class="form-control" id="searchInput" type="text" placeholder="Keresés"></p>

<table class="table" id="searchTable">
    <tr>
        <th>
            @Html.ActionLink("Név", "Index", new { sortOrder = ViewBag.FullNameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Felhasználónév", "Index", new { sortOrder = ViewBag.UserNameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        @if (User.IsInRole("Admin"))
        {
            <th>
                @Html.ActionLink("E-mail", "Index", new { sortOrder = ViewBag.EmailSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Születési idő", "Index", new { sortOrder = ViewBag.BirthDateSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
        }
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{
                    var source = "none.png";
                    if (item.HikerRank == "golden")
                    {
                        source = "arany.png";
                    }
                    if (item.HikerRank == "silver")
                    {
                        source = "ezust.png";
                    }
                    if (item.HikerRank == "bronze")
                    {
                        source = "bronz.png";
                    }
                    <span style="float:left; display: inline-block; vertical-align: middle; padding-right: 5px">@item.FullName</span> <span style="display: inline-block; vertical-align: middle;"><img class="img-responsive" src="/Content/Images/@(source)" style="width:23px"></span>

                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                        @Html.ActionLink("Szerkesztés", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Törlés", "Delete", new { id = item.Id }) |
                        @Html.ActionLink("Részletek", "Details", new { id = item.Id })
                </td>
            }
        </tr>
    }

</table>
