@model nptk.Models.Gallery

@{
    ViewBag.Title = "Album törlése";
}

<h2>@ViewBag.Title</h2>

<h3>Biztosan törölni szeretnéd ezt az albumot: @Html.DisplayFor(model => model.Tour.Title) – @Model.Tour.Date.ToString("yyyy. MMMM dd.")?</h3>
<div>
    <hr />

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Igen, törlöm!" class="btn btn-default" /> |
            @Html.ActionLink("Vissza a galériába", "Index")
        </div>
    }
</div>
