@model nptk.Models.SignUp

@{
    ViewBag.Title = "Jelentkezés törlése";
}

<h2>@ViewBag.Title</h2>
<p class="error">@ViewBag.ErrorMessage</p>
<h3>Biztosan töröljem ezt a jelentkezést?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tour.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tour.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FullName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Törlés" class="btn btn-default" /> |
            @Html.ActionLink("Vissza a jelentkezésekhez", "Index")
        </div>
    }
</div>
