@model IEnumerable<nptk.Models.SignUp>

@{
    ViewBag.Title = "Jelentkezések";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Jelentkezés hozzáadása", "Create")
</p>

@{var count = 0;

    foreach (var group in Model.OrderByDescending(m => m.Tour.Date).GroupBy(m => m.Tour.Title))
    {
        count += 1;
        string collapseId = "collapse_" + count;

        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color:darkkhaki; color:white">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#@collapseId">
                            @group.Key – @group.ElementAt(0).Tour.Date.ToString("yyyy. MM. dd.") @group.ElementAt(0).Tour.Track
                        </a>
                    </h4>
                </div>
                <div id="@collapseId" class="panel-collapse collapse">
                    <div class="panel-body">
                        @foreach (var item in group)
                        {
                            <p>
                                @Html.DisplayFor(modelItem => item.User.FullName) 
                                <span style="padding-left:20px">
                                    @Html.ActionLink("Szerkesztés", "Edit", new { id = item.SignUpID }) <span> |</span>
                                    @Html.ActionLink("Törlés", "Delete", new { id = item.SignUpID })
                                </span>
                            </p>
                        }
                    </div>
                </div>

            </div>
        </div>
    }
}

