@model nptk.Models.Tour

@{
    ViewBag.Title = "Túra törlése";
}

<h2>@ViewBag.Title</h2>

<h3>Biztosan törölni szeretnéd ezt a túrát?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Track)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Track)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Distance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Distance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Climb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Climb)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Törlés" class="btn btn-default" /> |
            @Html.ActionLink("Vissza a túrákhoz", "Index")
        </div>
    }
</div>
