@model nptk.Models.Tour
@using nptk.Helpers


@{
    ViewBag.Title = "A túra részletei";
}

<h2>@Html.DisplayFor(model => model.Title)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt style="padding-top: 10px">
            @Html.DisplayNameFor(model => model.Track)
        </dt>

        <dd style="padding-top: 10px">
            @Html.DisplayFor(model => model.Track)
        </dd>

        <dt style="padding-top: 10px">
            @Html.DisplayNameFor(model => model.Distance)
        </dt>

        <dd style="padding-top: 10px">
            @Html.DisplayFor(model => model.Distance) km
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Climb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Climb) m
        </dd>

        @if (Html.DisplayFor(model => model.About).ToString() != "")
        {
            <dt style="padding-top: 10px">
                @Html.DisplayNameFor(model => model.About)
            </dt>

            <dd style="padding-top: 10px">
                @Html.DisplayFor(model => model.About)
            </dd>
        }

        @if (Model.IsActive)
        {
            using (Html.BeginForm("SignUpTour", "Tours", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <dt style="padding-top: 20px">
                    Jelentkezés

                </dt>

                <dd style="padding-top: 15px">
                    <div class="col-md-10">
                        <div>
                            @Html.Hidden("UserId", HttpContext.Current.User.Identity.GetUserId())
                            <input data-val="true" id="TourId" name="TourId" type="hidden" value="@Model.TourId" />
                            <p><input type="submit" class="btn btn-default" value="Jelentkezem a túrára"></p>
                        </div>
                    </div>
                </dd>
            }
        }

        <dt>
            @Html.DisplayNameFor(model => model.SignUps)
        </dt>
        <dd>
            <ul class="list-inline">
                @foreach (var item in Model.SignUps)
                {
                    <li>
                        @Html.DisplayFor(modelItem => item.User.FullName)
                    </li>
                }
            </ul>
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("Admin"))
    {@Html.ActionLink("Szerkesztés", "Edit", new { id = Model.TourId })<span> |</span>}
    @Html.ActionLink("Vissza a túrákhoz", "Index")
</p>
