@model nptk.Models.Tour
@using nptk.Helpers


@{
    ViewBag.Title = "A túra részletei";
}

<h2>@Html.DisplayFor(model => model.Title)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt style="padding-top: 10px">
            @Html.DisplayNameFor(model => model.Track)
        </dt>

        <dd style="padding-top: 10px">
            @Html.DisplayFor(model => model.Track)
        </dd>

        <dt style="padding-top: 10px">
            @Html.DisplayNameFor(model => model.Distance)
        </dt>

        <dd style="padding-top: 10px">
            @Html.DisplayFor(model => model.Distance) km
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Climb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Climb) m
        </dd>

        @if (Html.DisplayFor(model => model.About).ToString() != "")
        {
            <dt style="padding-top: 10px">
                @Html.DisplayNameFor(model => model.About)
            </dt>

            <dd style="padding-top: 10px">
                @Html.DisplayFor(model => model.About)
            </dd>
        }

        @if (Model.IsActive)
        {
            using (Html.BeginForm("SignUpTour", "Tours", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <dt style="padding-top: 20px">
                    Jelentkezés

                </dt>

                <dd style="padding-top: 15px">
                    <div class="col-md-10">
                        <div>
                            @Html.Hidden("UserId", HttpContext.Current.User.Identity.GetUserId())
                            <input data-val="true" id="TourId" name="TourId" type="hidden" value="@Model.TourId" />
                            @if (ViewBag.SignUp == 0)
                            {
                                <p><input type="submit" class="btn btn-default" value="Jelentkezem a túrára"></p>
                            }
                            else
                            {
                                <p><input type="submit" class="btn btn-default" value="Törlöm a jelentkezésem"></p>
                            }
                        </div>
                    </div>
                </dd>
            }
        }

        <dt>
            @if (Model.SignUps.Count() > 0)
            {
                if (Model.Date < DateTime.Now)
                {
                    <span>Résztvevők</span>
                }
                else
                {
                    @Html.DisplayNameFor(model => model.SignUps)
                }
            }
        </dt>
        <dd>
            <ul class="list-inline">
                @foreach (var item in Model.SignUps)
                {
                    <li>
                        @Html.DisplayFor(modelItem => item.User.FullName)
                    </li>
                }
            </ul>
        </dd>
    </dl>
</div>

@if (Model.Date >= DateTime.Now && Model.TourPics.Count() != 0)
{
    var path = @Model.TourPics.First().Path;
    <div class="container" style="padding-bottom:27px">
        <div class="row" style="width:99%">
            <img class="img-responsive center-block" src='@Url.Content("/Content/Posters/" + path)' />
        </div>
    </div>
}
@if (Model.Date < DateTime.Now && Model.TourPics.Count() != 0)
{
    <div class="container" style="padding:20px">
        <div class="row text-center" style="width:99%">
            @foreach (var item in Model.TourPics.ToList())
            {
                var path = item.Path;
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="forThumbnails">

                        <img src="@Url.Content("/Content/TourGallery/" + path)" class="img-thumbnail" alt="...">
                        <div class="caption" style="text-align:center; padding-top:10px; padding-bottom:15px">
                            <p>@item.PicName</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

<p>
    @if (User.IsInRole("Admin"))
    {@Html.ActionLink("Szerkesztés", "Edit", new { id = Model.TourId })<span> |</span>}
    @Html.ActionLink("Vissza a túrákhoz", "Index")
</p>
