@model nptk.Models.Tour

@{
    ViewBag.Title = "A túra részletei";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Track)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Track)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Distance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Distance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Climb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Climb)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Szerkesztés", "Edit", new { id = Model.TourId }) |
    @Html.ActionLink("Vissza a túrákhoz", "Index")
</p>
