@model nptk.Models.Tour

@{
    ViewBag.Title = "A túra részletei";
}

<h2>@Html.DisplayFor(model => model.Title)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt style="padding-top: 10px">
            @Html.DisplayNameFor(model => model.Track)
        </dt>

        <dd style="padding-top: 10px">
            @Html.DisplayFor(model => model.Track)
        </dd>

        <dt style="padding-top: 10px">
            @Html.DisplayNameFor(model => model.Distance)
        </dt>

        <dd style="padding-top: 10px">
            @Html.DisplayFor(model => model.Distance) km
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Climb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Climb) m
        </dd>

        @if (Html.DisplayFor(model => model.About).ToString() != "")
        {
            <dt style="padding-top: 10px">
                @Html.DisplayNameFor(model => model.About)
            </dt>

            <dd style="padding-top: 10px">
                @Html.DisplayFor(model => model.About)
            </dd>
        }

        @if (Model.IsActive)
        {
            <dt style="padding-top: 10px">
                Jelentkezés a túrára
            </dt>

            <dd>
                <div class="col-md-10">
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="signuptour">Jelentkezem a túrára</label>
                    </div>
                </div>
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.SignUps)
        </dt>
        <dd>
            <ul class="list-inline">
                @foreach (var item in Model.SignUps)
                {
                    <li>
                        @Html.DisplayFor(modelItem => item.User.FullName)
                    </li>
                }
            </ul>
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("Admin"))
    {@Html.ActionLink("Szerkesztés", "Edit", new { id = Model.TourId })<span> |</span>}
    @Html.ActionLink("Vissza a túrákhoz", "Index")
</p>
