@model IEnumerable<nptk.Models.Tour>

@{
    ViewBag.Title = "A Nagy Pele Túrakör túrái";
}

<h2>@ViewBag.Title</h2>

@if (@User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Új túra", "Create")
    </p>
}

<input id="searchInput" type="text" placeholder="Keresés">

<table class="table" id="searchTable">
    <tr>
        <th>
            @Html.ActionLink("Túra", "Index", new { sortOrder = ViewBag.TitleSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Dátum", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("\u2192 (km)", "Index", new { sortOrder = ViewBag.DistanceSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("\u2197 (m)", "Index", new { sortOrder = ViewBag.ClimbSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
    </tr>


    @foreach (var item in Model)
    {
        <tr colspan="2">
            <td>
                <span style="font-weight:600">@Html.DisplayFor(modelItem => item.Title)</span> <br /> @Html.DisplayNameFor(model => model.Track): @Html.DisplayFor(modelItem => item.Track)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>

                @Html.DisplayFor(modelItem => item.Distance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Climb)
            </td>
            <td>
                @if (@User.IsInRole("Admin"))
                {                    
                        @Html.ActionLink("Szerkesztés", "Edit", new { id = item.TourId }) <span> |</span>
                        @Html.ActionLink("Törlés", "Delete", new { id = item.TourId }) <span> |</span>                
                }
                @Html.ActionLink("Részletek ", "Details", new { id = item.TourId })

                @*<div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.Apply)
                                @Html.LabelFor(m => m.Apply)
                            </div>
                        </div>
                    </div>*@
            </td>
        </tr>

    }

</table>
