@model IEnumerable<nptk.Models.Tour>

@{
    ViewBag.Title = "A Nagy Pele Túrakör túrái";
}

<h2>@ViewBag.Title</h2>
<h4>Amerre eddig voltunk, amerre ezután indulunk</h4>

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Új túra", "Create")
    </p>
}

<p>
    <input class="form-control" id="searchInput" type="text" placeholder="Keresés"
           style="padding: 5px" data-toggle="tooltip"
           data-placement="right" title="Szűrhető a lista számra, betűre...">
</p>

@using (Html.BeginForm())
{
    @Html.RadioButton("filtTour", "all", new { @checked = true, onchange = "this.form.submit()", id = "rb_all" }) <span style="padding-right:10px">Összes túra </span>
    @Html.RadioButton("filtTour", "next", new { onchange = "this.form.submit()", id = "rb_next" }) <span style="padding-right:10px">Következő túráink </span>
    @Html.RadioButton("filtTour", "prev", new { onchange = "this.form.submit()", id = "rb_prev" }) <span style="padding-right:10px">Korábbi túráink </span>
}

<table class="table" id="searchTable">
    <tr>
        <th>
            @Html.ActionLink("Túra", "Index", new { sortOrder = ViewBag.TitleSortParm, currentFilter = ViewBag.CurrentFilter, filtTour = ViewBag.Rb })
        </th>
        <th>
            @Html.ActionLink("Dátum", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter, filtTour = ViewBag.Rb })
        </th>
        <th style="text-align: right; padding-right:10px">
            @Html.ActionLink("\u2192 (km)", "Index", new { sortOrder = ViewBag.DistanceSortParm, currentFilter = ViewBag.CurrentFilter, filtTour = ViewBag.Rb })
        </th>
        <th style="text-align: right; padding-right:10px">
            @Html.ActionLink("\u2197 (m)", "Index", new { sortOrder = ViewBag.ClimbSortParm, currentFilter = ViewBag.CurrentFilter, filtTour = ViewBag.Rb })
        </th>
    </tr>


    @foreach (var item in Model)
    {
        string actual = "";
        string highlight = "transparent";
        string linkColor = "";

        if (item.IsActual == true)
        {
            actual = " – AKTUÁLIS TÚRÁNK";
            highlight = "darkkhaki";
            linkColor = "white";
        }
        <tr colspan="2" style="background-color:@highlight; color:@linkColor">
            <td>
                <span style="font-weight:600">@Html.ActionLink(item.Title, "Details", new { id = item.TourId }, new { @style = "color:" + linkColor })</span><span style="color:white; font-weight:600">@actual</span> <br /> @Html.DisplayNameFor(model => model.Track): @Html.DisplayFor(modelItem => item.Track)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td style="text-align: right; padding-right:20px">
                @Html.DisplayFor(modelItem => item.Distance)
            </td>
            <td style="text-align: right; padding-right:20px">
                @Html.DisplayFor(modelItem => item.Climb)
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    @Html.ActionLink("Szerkesztés", "Edit", new { id = item.TourId }, new { @style = "color:" + linkColor }) <span> |</span>
                    @Html.ActionLink("Törlés", "Delete", new { id = item.TourId }, new { @style = "color:" + linkColor })
                </td>
            }
        </tr>

    }

</table>