@model nptk.Models.StatisticViewModel
@using nptk.Helpers


@{

    ViewBag.Title = "Egy kis statisztika";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Néhány adat az eddigiekből</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt style="padding-bottom:10px">Ami eddig a túrakör mögött van:</dt>
        <dd>
            <p>
                Összesen <strong>@ViewBag.DistanceTotal km</strong>-t tettünk meg eddigi
                <strong>@ViewBag.TourTotal</strong> túránk során, mögöttünk van <strong>@ViewBag.ClimbTotal m</strong> szintemelkedés.
            </p>
        </dd>
        <dt style="padding-bottom:10px">A te eddigi teljesítményed:</dt>
        <dd>
            <p>
                <strong style="color:darkgoldenrod">@ViewBag.TourCount</strong> túrán jártál a túrakörrel,
                <strong style="color:darkgoldenrod"> @ViewBag.UserTotalDistance km</strong> távolság és
                <strong style="color:darkgoldenrod">@ViewBag.UserTotalClimb m</strong> szintemelkedés van mögötted –
                ezeken az értékeken a következő túrákon tudsz változtatni!
            </p>
        </dd>
        <dt>Jelenlegi rangod:</dt>
        <dd>
            @{
                var source = "none.png";
                if (User.Identity.GetHikerRank() == "none")
                {
                    <span>Az első rang 12 túra teljesítése után jár! Hajrá!</span>
                }
                else
                {
                    if (User.Identity.GetHikerRank() == "golden")
                    { source = "arany.png"; }
                    if (User.Identity.GetHikerRank() == "silver")
                    { source = "ezust.png"; }
                    if (User.Identity.GetHikerRank() == "bronze")
                    { source = "bronz.png"; }
                    <span><img class="img-responsive" src="/Content/Images/@(source)" style="padding: 5px" width="100px" data-toggle="tooltip" data-placement="right" title="12 túra után bronz, 24 túra után ezüst, 36 túra után arany rang jár!"></span>
                }
            }
        </dd>
        <dt>Megtett távjuk alapján a legaktívabbak:</dt>
        <dd>
            <table class="table" style="width:50%">
                <tr>
                    <th>
                    </th>
                    <th>
                        @Html.DisplayNameFor(Model => Model.FullName)
                    </th>
                    <th style="text-align: right; padding-right:10px">
                        @Html.DisplayNameFor(Model => Model.UserTotalDistance)
                    </th>
                </tr>
                @{ int rowNo = 0; }
                @foreach (var item in ViewBag.Models)
                {
                    <tr>
                        <td>
                            @(rowNo += 1).
                        </td>
                        <td>
                            @item.FullName
                        </td>
                        <td style="text-align: right; padding-right:30px">
                            @item.UserTotalDistance km
                        </td>
                    </tr>
                }
            </table>
        </dd>
        <dt>A legtöbb túrán részt vevők:</dt>
        <dd>
            <table class="table" style="width:50%">
                <tr>
                    <th>
                    </th>
                    <th>
                        @Html.DisplayNameFor(Model => Model.FullName)
                    </th>
                    <th style="text-align: right; padding-right:10px">
                        @Html.DisplayNameFor(Model => Model.UserTourCount)
                    </th>
                </tr>
                @{ int rowNum = 0; }
                @foreach (var item in ViewBag.Models)
                {
                    <tr>
                        <td>
                            @(rowNum += 1).
                        </td>
                        <td>
                            @item.FullName
                        </td>
                        <td style="text-align: right; padding-right:30px">
                            @item.UserTourCount
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>


