@{
    ViewBag.Title = "Nagy Pele Túrakör";
}

<div class="jumbotron">
    <h1>Nagy Pele Túrakör</h1>
    <p class="lead">Köszöntünk minden túratársat és látogatót!</p>
    <p><input type="button" class="btn btn-primary btn-lg" value="Belépés &raquo" onclick="location.href='@Url.Action("Login", "Account")'"></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Aktuális: @ViewBag.TourTitle</h3>
        <p>@ViewBag.TourAbout</p>
        <p>@Html.ActionLink("Megnézem ", "Details", "Tours", new { id = ViewBag.ActId }, new { @class = "btn btn-default" })</p>

    </div>
    <div class="col-md-4">
        <h3>Előző túránkról: @ViewBag.PrevTourTitle</h3>
        <p>@ViewBag.PrevTourAbout</p>
        <p>@Html.ActionLink("Megnézem ", "Details", "Tours", new { id = ViewBag.PrevId }, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h3>Itt mi lesz?</h3>
        <p>Ezek mindig kifelé vezető dolgok? Lehet itt pl. Hírek vagy Érdekességek vagy ilyesmi...</p>
        <p></p>
    </div>
</div>